#register {
  padding-left: 2em;
  padding-right: 2em;

  /* display: flex;
  justify-content: center; */
}

#register input {
  width: 100%;
  margin-bottom: 1em;
}

.form-field {
  /* display: block; */
  /* display: flex;
  justify-content: center;
  width: 100%; */
}

/* #name, #phone, #email, #submit {
  display: flex;
} */

#submit {
  /* width: 75%;
  justify-content: center;
  text-align: center; */
}

#sign-up-button {
  width: 60%;
  margin: auto;
  display: block;
}
