@import url('http://fonts.cdnfonts.com/css/segoe-ui-variable');

#register {
  padding-left: 2em;
  padding-right: 2em;

  /* display: flex;
  justify-content: center; */
}

#register input {
  width: 100%;
  margin-bottom: 1em;
  height: 2em;
}

.form-field {
  /* display: block; */
  /* display: flex;
  justify-content: center;
  width: 100%; */
}

/* #name, #phone, #email, #submit {
  display: flex;
} */

#submit {
  /* width: 75%;
  justify-content: center;
  text-align: center; */
}

#sign-up-button {
  width: 50%;
  display: block;
  margin: auto;
  font-family: 'Segoe UI Variable', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  color: #FFFFFF;
  background: #4B78BC;
  border: none;
  padding: 2em;
}
