#ConfirmationPage-title {
  text-align: center;
}

#ConfirmationPage-subtitle {
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: 300;
}

#ConfirmationPage-break {
  display: block;
  margin: auto;
  width: 50%;
  margin-top: 3em;
  margin-bottom: 3em;
}

.help-list {
  margin-left: -1em;
}

.help-list li {
  margin-bottom: 2em;
}
