#landing-page h1 {
  /* font-size: 20px; */
  text-align: center;
}

header#organization {
  text-align: center;
  margin: 0;
  padding-top: 2em;
  padding-bottom: 2em;
  background: #E4E4E4;
}

.info-bullets {
  padding-left: 1em;
}

.video-container {
  margin-left: 2em;
  margin-right: 2em;
}

.video-responsive {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video-responsive iframe, .video-responsible object, .video-responsible embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.organization {
  background: #70B443;
  margin-bottom: 2em;
}

.container {
  margin-left: 2em;
  margin-right: 2em;
}

.list {
  margin-left: 1em;
  margin-right: 2em;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
